	/*-- Font style sheet for Frodo --*/
		@font-face {
			font-family: 'helveticabold';
			src: url('../fonts/helvetica_bold-webfont.eot');
			src: url('../fonts/helvetica_bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/helvetica_bold-webfont.woff') format('woff'),
				 url('../fonts/helvetica_bold-webfont.ttf') format('truetype'),
				 url('../fonts/helvetica_bold-webfont.svg#helveticabold') format('svg');
			font-weight: normal;
			font-style: normal;

		}

		@font-face {
			font-family: 'helveticabold';
			src: url('../fonts/helvetica-bold-webfont.eot');
			src: url('../fonts/helvetica-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/helvetica-bold-webfont.woff') format('woff'),
				 url('../fonts/helvetica-bold-webfont.ttf') format('truetype'),
				 url('../fonts/helvetica-bold-webfont.svg#helveticabold') format('svg');
			font-weight: normal;
			font-style: normal;

		}
		@font-face {
			font-family: 'helveticabold_oblique';
			src: url('../fonts/helvetica-boldoblique-webfont.eot');
			src: url('../fonts/helvetica-boldoblique-webfontd41d.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/helvetica-boldoblique-webfont.woff') format('woff'),
				 url('../fonts/helvetica-boldoblique-webfont.ttf') format('truetype'),
				 url('../fonts/helvetica-boldoblique-webfont.svg#helveticabold_oblique') format('svg');
			font-weight: normal;
			font-style: normal;
		}
	/*-- End Font style sheet for Frodo --*/
	
body{
	font-family: 'Open Sans', sans-serif;
	color:#959ea7;
	}
.clear{clear:both;}
.clear1{clear:both; padding-bottom: 30px;}
a:focus{
	outline:0;
	outline-offset:0;
	}
.container{
	max-width:990px;
	}
.image_border{
	border-radius:5px;
	}
/*========================================================
	Start Home Page
========================================================*/
	/*-- Start Header  --*/
.header{
	background-color:#ffffff;
	}
.logo{
	color:#ffffff;
	margin:20px 0px;
	text-align:left;
	}
.logo a{
	text-decoration:none;
	color:#ffffff;
	line-height:36px;
	font-weight:bold;
	}
.logo img{
	margin:0 auto;
	}
/*-- End logo --*/
#slicknav{
	display:none;
	}
/*-- nav menu --*/
.nav{
	margin-top: 0px;
	}
.nav .nav_menu{
	margin:0;
	padding:0;
	list-style:none;
	}
.nav .nav_menu .active{
	color:#1abc9c;
	}
.nav .nav_menu .active:hover{
	color:#1abc9c;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.nav .nav_menu li{
	float:left;
	}
.nav .nav_menu li a{
	text-decoration:none;
	font-size:12px;
	font-family: 'helveticabold',sans-serif;
	line-height:17px;
	color:#0f0f0f;
	padding: 40px 15px 40px 15px;
	display:inline-block;
	text-align:center;
	text-transform:uppercase;
	}
.nav .nav_menu li a:hover{
	color:#656565;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
	/*-- Start SubMenu --*/
.nav .nav_menu li .submemu{
	display:none;
	position:absolute;
	z-index:99;
	}
.nav .nav_menu li:hover .submemu{
	display:block;
    background-color:#f8f8f8;
	width:180px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	}
.nav .nav_menu li .submemu{
	margin:0;
	padding:0;
	}
.nav .nav_menu .submemu li{
	float:none;
	list-style:none;
	border-bottom:1px solid #d0d4d6;
	}
.nav .nav_menu .submemu li:last-child{
	border-bottom:none;
	}
.nav .nav_menu li .submemu >li a{
	text-decoration:none;
	font-size:12px;
	line-height:10px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	padding:15px 15px 15px 15px;
	display:block;
	text-align:left;
	color:#0f0f0f!important;
	text-transform:uppercase;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.nav .nav_menu li .submemu >li a:hover{
	color:#2c3e50;
	background-color:#ffffff;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	}
.nav .nav_menu li .submemu >li:first-child a:hover {
	border-top: 1px solid #d0d4d6;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
	/*-- End Nav Manu  --*/
	
.search_box_icon{
	position:relative;
	}	
.search_box_inner{
	display:none;
	position: absolute;
	z-index: 100;
	top: 32%;
	right: -23%;
	width: 25%;
	}
/*-- End Header --*/
  
/*-- Start Slider */
.slide_tittle{
	font-size:24px;
	line-height:30px;
	font-weight:bold;
	color:#ffffff;
	}
.slide_content{
	font-size:16px;
	line-height:20px;
	font-weight:400;
	color:#ffffff;
	}
.slide_button a{
	font-size:12px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	background-color:#1abc9c;
	color:#f5f5f5;
	padding:15px 30px;
	border-radius:5px;
	text-transform:uppercase;
	}
/*--End Slider --*/

/*-- Our Newslatter Section --*/
.news_latter{
	background-color:#ededed;
	padding-top:60px;
	padding-bottom:40px;
	}
.news_latter_list .news_latter_ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.news_latter_list .news_latter_ul li{
	float:left;
	margin-right:20px;
	}
.news_latter_list .news_latter_ul li:last-child{
	margin-right:0px;
	}
.botton_margin{
	margin-top:10px;
	}
.news_singup{
	color: #959ea7;
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	text-align:left;
	margin-bottom:0px;
	padding-top:2px;
	}
.news_singup_small{
	color: #959ea7;
	font-size:12px;
	text-align:right;
	line-height:20px;
	font-weight:300;
	margin-bottom:0px;
	}
.news_input{
	background-color: #d5d5d5;
	border:none;
	border-radius:6px;
	padding:22px;
	color:#959ea7;
	font-size:14px;
	font-style:italic;
	margin-top:0px;
	}
.news_latter_ul .subscribe{
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	background-color:#959ea7;
	color:#ecf0f1;
	text-align:center;
	padding:11px 23px;
	border-radius:5px;
	-webkit-border-radius:5px;
	}
.news_latter_ul .social{
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	background-color:#1abc9c;
	color:#ecf0f1;
	text-align:center;
	padding:11px 23px;
	border-radius:5px;
	-webkit-border-radius:5px;
	}
.news_latter_ul .purchase{
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	background-color:#e45038;
	color:#ecf0f1;
	text-align:center;
	padding:11px 23px;
	border-radius:5px;
	-webkit-border-radius:5px;
	}
.news_latter_ul .right_span{
	margin-right:5px;
	}
/*-- End Our Newslatter Section --*/


/*-- Main Body Top --*/
.mainservices{
	padding-top:50px;
	padding-bottom:20px;
	}
.right_padding{
	padding-right:0px;
	}
.service_active_img{
	height:300px;
	border-radius:6px;
	}
.main_link{
	text-align: center;	
	color:#959ea7;
	}
span.img_icon {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	}
.icon1{
	background-image: url(../assets/images/web.png);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.icon2{
	background-image: url(../assets/images/security.png);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.icon3{
	background-image: url(../assets/images/support.png);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
span.link_title {
	display: block;
	line-height: 20px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 800;
	padding-bottom: 16px;
	text-align: center;
	}
span.link_content {
	display: block;
	font-weight: 400;
	padding-bottom: 16px;
	text-align: center;
	line-height: 20px;
	padding-top: 10px;
	}
.line{
	border-bottom: solid 1px #959ea7;
	float: left;
	margin-top: 20px;
	width: 81px;
	}
.line1{
	float: left;
	width: 136px;
	text-align:center;
	background-color:#959ea7;
	color:#ecf0f1;
	font-size:16px;
	line-height:36px;
	font-weight: bold;
	border-radius:5px;
	border:5px solid #ecf0f1;
	}
.mainservices:hover .main_link{
	color:#1abc9c!important;
	}
.mainservices:hover .line{
	border-bottom: solid 1px #1abc9c!important;
	}
.mainservices:hover .line1{
	background-color:#1abc9c!important;
	display:block;
	cursor:pointer;
	border-color: #ddfff8!important;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.mainservices:hover .icon1{
	background-image: url(../assets/images/web_hover.png);
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	} /* hover web icon */
.mainservices:hover .icon2{
	background-image: url(../assets/images/security_hover.png);
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}/* hover security icon */
.mainservices:hover .icon3{
	background-image: url(../assets/images/support_hover.png);
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	} /* hoversupport icon */
.link_title1, .link_content1{
	color:#1abc9c!important;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
/*-- End Home Service --*/
.latest_work_tittle{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	line-height:36px;
	font-weight:bold;
	color:#959ea7;
	text-align:center;
	margin-top:50px;
	}
.latest_work_content{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	text-align:center;
	margin-bottom:20px;
	padding:0px 65px;
	}
.bottom_margin{
	margin-bottom:30px;
	}
.hover_div{
	width:300px;
	height:200px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	display:block;
	}
.hover_div img{
	border-radius:5px;
	}
.hover_link{
	background:url(../assets/images/share.png) no-repeat center;
	background-color:#dd5a3f;
	position:absolute;
	top:0;
	width:100%;
	display:none;
	z-index:100;
	height:200px;
	overflow:hidden;
	border-radius:5px;
	opacity:0.5;
	filter: alpha(opacity=50);
	cursor:pointer;
	margin-bottom:0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	}
.hover_div a:hover .hover_link {
	opacity: 0.9;
	filter: alpha(opacity=90);
	}
.hover_div:hover .hover_link{
	display:block;
	}
/*-- End Body Top --*/

/*-- Body Middle --*/
.know_more{
	background:url(../assets/images/know_more_bg.png) no-repeat 100% 100%;
	padding-top:70px;
	padding-bottom:95px;
	margin-top:100px;
	}
.know_more_tittle{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	line-height:36px;
	font-weight:bold;
	text-transform:uppercase;
	color:#57697b;
	margin-top:0px;
	}
.round_bottom{
	bottom:-25%;
	left:47%;
	}
.round_bottom li{
	width:14px;
	height:14px;
	background-color:#2c3e50;
	border:3px solid #2c3e50;
	border-radius: 50%;
	}
.round_bottom .active{
	background-color:#959ea7;
	width:16px;
	height:16px;
	border:3px solid #2c3e50;
	border-radius: 50%;
	}
.know_more_list ul{
	margin:0;
	padding:0;
	list-style-image: url(../assets/images/list_image.png);
	list-style-position:inside;
	}
.know_more_list ul li{
	font-size:16px;
	line-height:25px;
	font-weight:normal;
	}
.know_more_button_home{
	margin-top:30px;
	}
.know_more_button_home .know_more_button{
	float:left;
	margin-right:30px;
	}
.know_more_button_home .know_more_button a{
	font-size:16px;
	line-height:25px;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	background-color:#e45038;
	color:#ecf0f1;
	border-radius:5px;
	padding:11px 30px;
	display:block;
	}
.know_more_button .button_2{
	background-color:#1abc9c!important;
	}
/*-- End Body Middle --*/

/*-- Blog Section --*/
.blog_margin_top{
	margin-top:50px;
	}
.blog_margin{
	margin-top:60px;
	margin-bottom:80px;
	}
.blog_margin img{
	border-radius:5px;
	}
.blog_hover_post{
	width:300px;
	height:200px;
	position:relative;
	margin: 0 auto;
	}
.blog_hover_post img{
	border-radius:5px;
	}
.blog_hover_post_title{
	font-size:16px;
	line-height:36px;
	font-weight:bold;
	color:#ecf0f1;
	background:url(../assets/images/image_post.png) no-repeat 33% 0%;
	height:50px;
	margin-bottom:0px;
	padding-top: 4px;
	padding-left:30px;
	text-align:center;
	background-color:#e45038;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position:absolute;
	width:100%;
	bottom: -13%;
	}
.gallery_post_hover{
	background-color:#1abc9c!important;
	background:url(../assets/images/gallary_post.png) no-repeat 31% 0%;
	height:50px;
	}
.blog_hover_post_inner_1{
	width:100%;
	overflow:hidden;
	top:0;
	height:226px;
	background-color:#e45038;
	display:none;
	position:absolute;
	border-radius:5px;
	opacity:0.5;
	filter:Alpha(opacity=50); /* IE8 and earlier */
	z-index:100;
	-webkit-transition: all 600ms liener;
	-o-transition: all 600ms ease-in;
	-moz-transition: all 600ms ease-in;
	transition: all 600ms ease-in;
	background:url(../assets/images/share.png) no-repeat 50% 50% #e45038;
	}
.blog_hover_post:hover .blog_hover_post_inner_1{
	display:block;
	opacity:0.7;
	filter:Alpha(opacity=70); /* IE8 and earlier */
	}
.blog_hover_post:hover .blog_hover_post_title{
	height:60px;
	-webkit-transition: all 600ms ease-out;
	-o-transition: all 600ms ease-out;
	-moz-transition: all 600ms ease-out;
	transition: all 600ms ease-out;
	z-index:200;
	}
.blog_hover_post_inner_2{
	width:100%;
	overflow:hidden;
	top:0;
	height:226px;
	background-color:#1abc9c;
	display:none;
	position:absolute;
	border-radius:5px;
	opacity:0.5;
	filter:Alpha(opacity=50); /* IE8 and earlier */
	z-index:100;
	-webkit-transition: all 600ms liener;
	-o-transition: all 600ms ease-in;
	-moz-transition: all 600ms ease-in;
	transition: all 600ms ease-in;
	background:url(../assets/images/share.png) no-repeat 50% 50% #1abc9c;
	}
.blog_hover_post:hover .blog_hover_post_inner_2{
	display:block;
	opacity:0.7;
	filter:Alpha(opacity=70); /* IE8 and earlier */
	}
/*-- End Blog Section --*/

/*-- Our Clients --*/
.cleint_title{
	font-size:24px;
	line-height:36px;
	font-weight:bold;
	text-align:center;
	}
.italicfont{
	font-style: italic;
	}
span.link_content_work{
	display: block;
	font-size:16px;
	line-height:20px;
	color: #959ea7;
	text-align: center;
	padding: 0px 25px 0px 25px;
	text-decoration:none;
	}
/*-- End Our Clients --*/

/*-- Start Footer Area --*/

.footer_area{
	background-color:#2c3e50;
	padding-top:50px;
	}
	/*-- Footer section left --*/
.footer_line_stay{
	border-bottom: solid 1px #34495e;
	float: left;
	margin-top: 20px;
	width: 71px;
	}
.footer_line1_stay{
	float: left;
	width: 146px;
	text-align:center;
	background-color:#34495e;
	color:#778490;
	font-size:16px;
	line-height:20px;
	font-weight: bold;
	margin:0px 5px 0px 5px;
	padding: 6px 0px 6px 0px;
	border-radius:5px;
	}
.footer_list_stay{
	color: #00a988;
	font-weight: bold;
	font-size: 14px;
	}
.footer_list_ul{
	font-size:14px;
	margin:0;
	padding:0;
	list-style:none;
	}
.footer_list_ul li{
	color:#8f98a2;
	padding-bottom:0px;
	margin-bottom: 11px;
	font-size:14px;
	line-height:normal;
	font-weight:300;
	}
.footer_list_ul li:last-child{
	margin-bottom:0px;
	}
	/*-- Footer Social Icon --*/
.social_icon{
	margin-top:30px;
	}
.social_icon .social_list{
	margin:0;
	padding:0;
	list-style:none;
	}
.social_icon .social_list li{
	float:left;
	margin-right:10px;
	width:40px;
	height:40px;
	text-align:center;
	color:#2c3e50;
	background-color:#34495e;
	font-size:20px;
	border-radius:5px;
	display:block;
	cursor:pointer;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.social_icon .social_list li:last-child{
	margin-right:0px;
	}
.social_icon .social_list .icon_top{
	margin-top:10px;
	}
.social_icon .social_list .social_list_fb:hover{
	background-color:#3D589C;
	color:#ffffff;
	}
.social_icon .social_list .social_list_tw:hover{
	background-color:#00ABF0;
	color:#ffffff;
	}
.social_icon .social_list .social_list_dr:hover{
	background-color:#EA4C89;
	color:#ffffff;
	}
.social_icon .social_list .social_list_pi:hover{
	background-color:#EA4C89;
	color:#ffffff;
	}
.social_icon .social_list .social_list_sk:hover{
	background-color:#00B3FF;
	color:#ffffff;
	}
.social_icon .social_list .social_list_rs:hover{
	background-color:#FFA101;
	color:#ffffff;
	}/*-- End of Footer Social icon --*/
	
	/*-- End Footer section left --*/
	
	/*-- Footer Middle --*/
.footer_line_about{
	border-bottom: solid 1px #34495e;
	float: left;
	margin-top: 20px;
	width: 83px;
	}
.footer_line1_about{
	float: left;
	width: 116px;
	text-align:center;
	background-color:#34495e;
	color:#778490;
	font-size:16px;
	line-height:20px;
	font-weight: bold;
	margin:0px 3px 0px 3px;
	padding: 6px 0px 6px 0px;
	border-radius:5px;
	}
.footer_mid_text{
	font-size:14px;
	line-height:18px;
	font-weight: 300;
	color: #8f98a2;
	margin-bottom:0px;
	}
.footer_about_image{
	border-radius:5px;
	float:left;
	margin-right:10px;
	margin-bottom: 8px;
	}
	/*-- Footer Right section --*/
.footer_line_flicker{
	border-bottom: solid 1px #34495e;
	float: left;
	margin-top: 20px;
	width: 66px;
	}
.footer_line1_flicker{
	float: left;
	width: 146px;
	text-align:center;
	background-color:#34495e;
	color:#778490;
	font-size:16px;
	line-height:20px;
	font-weight: bold;
	margin:0px 3px 0px 3px;
	padding: 6px 0px 6px 0px;
	border-radius:5px;
	}
.flicker_image{
	margin-top:0px;
	}
.flicker_image_top_line{
	margin-top: 0px;
	}
.flicker_image_top_line .flicker_img_ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.flicker_image_top_line .flicker_img_ul li{
	float:left;
	margin-right:13px;
	}
.flicker_image_top_line .flicker_img_ul li:last-child{
	margin-right:0px;
	}
.flicker_image_top_line .flicker_img_ul li img{
	width:90px;
	height:90px;
	border-radius:5px;
	}
.flicker_image_bottom_line{
	margin-top: 0px;
	}
.flicker_image_bottom_line .flicker_img_ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.flicker_image_bottom_line .flicker_img_ul li{
	float:left;
	margin-top: 15px;
	margin-right:13px;
	}
.flicker_image_bottom_line .flicker_img_ul li:last-child{
	margin-right:0px;
	}
.flicker_image_bottom_line .flicker_img_ul li img{
	width:90px;
	height:90px;
	border-radius:5px;
	}
	/*-- End Footer Right section --*/
	
	/*-- Footer twitter section --*/
.footer_middle{
	background:#34495e;
	margin-top:50px;
	}
.footer_twitter{
	font-size:50px;
	color:#2C3D4F;
	float:left;
	margin-top:15px;
	}
.footer_tweet{
	font-size:16px;
	line-height:20px;
	margin-top:25px;
	padding-left:10%;
	}
.tweet_time{
	padding-bottom:15px;
	}
.footer_color{	color:#059c81;}
	/*-- End Footer twitter section --*/

	/*-- Footer Copyright --*/
.footerbottom{
	background:#2c3e50;
	padding:30px 0px;
	}
.footer_copyright{
	color:#46596b;
	font-size:12px;
	text-align:center;
	display:block;
	margin-bottom:0px;
	}
	/*- End of footer copyright --*/
	
/*========================================================
	End Home Page
========================================================*/


/*========================================================
	About Us Page
========================================================*/
.about_us_top{
	background:url(../assets/images/portfolio-bg.png) repeat-x;
	padding:40px 0px;
	}
.about_top_title{
	font-size:40px;
	font-weight:600;
	line-height:20px;
	color:#ecf0f1;
	text-transform:lowercase;
	background-color:#959ea7;
	text-align:center;
	padding:15px 10px 15px 10px;
	margin-bottom:0px;
	border-radius:5px;
	}
.about_top_content{
	margin-top:10px;
	margin-bottom:0px;
	font-size:12px;
	line-height:20px;
	font-weight:600;
	color:#959ea7;
	text-align:center;
	}
.about_main_content{
	background-color:#ffffff;
	}
.about_main_title{
	font-family: 'Open Sans', sans-serif;
	font-size:36px;
	line-height:20px;
	font-weight:bold;
	color:#959ea7;
	margin-top:60px;
	margin-bottom:30px;
	}
.frodo{
	font-size:32px;
	line-height:17px;
	font-weight:bold;
	letter-spacing:-3px;
	}
.about_content{
	font-size:16px;
	line-height:30px;
	font-weight:normal;
	color:#959ea7;
	margin-bottom:30px;
	text-align:justify;
	}
.about_content_red{
	font-size:16px;
	line-height:30px;
	font-weight:normal;
	color:#e45038;
	text-align:justify;
	margin-bottom:30px;
	}
.about_comment{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	font-style:italic;
	text-align:center;
	padding:0px 65px;
	}
.about_comment_name{
	text-align:center;
	font-size:16px;
	line-height:20px;
	}
.about_comment_name_bold{
	font-size:16px;
	line-height:20px;
	font-weight:600;
	}
.about_us_margin{
	margin-bottom:80px;
	}
.left_control{
	background:transparent!important;
	opacity:0.9;
	filter: alpha(opacity=90);
	}
.right_control{
	background:transparent!important;
	opacity:0.9;
	filter: alpha(opacity=90);
	}
.left_control .left_icon{
	background:url(../assets/images/cru_left.png) no-repeat left center;
	height:30px;
	margin-top: 15px;
	margin-bottom:0px;
	}
.right_control .right_icon{
	background:url(../assets/images/cru_right.png) no-repeat right center;
	height:30px;
	margin-top: 15px;
	margin-bottom:0px;
	}
.about_team_tittle{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	line-height:36px;
	font-weight:bold;
	color:#959ea7;
	text-align:center;
	margin-top:0px;
	}
.about_team_content{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	text-align:center;
	margin-bottom:40px;
	padding:0px 65px;
	}
	/*-- Team --*/
.team_margin{
	margin-bottom:80px;
	}
.team_person_name{
	font-size:16px;
	line-height:36px;
	font-weight:normal;
	margin-top:20px;
	margin-bottom:10px;
	color:#959ea7;
	text-align:center;
	}
.name_color{
	color:#1abc9c;
	font-size:16px;
	line-height:36px;
	font-weight:600;
	}
.team_line{
	width:69px;
	border-bottom:1px solid #1abc9c;
	float:left;
	margin-top: 20px;
	}
.team_social_icon{
	float:left;
	}
.team_icon_ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.team_icon_ul li{
	float:left;
	}
.team_icon_ul li a{
	width:40px;
	height:40px;
	display:block;
	font-size:15px;
	color:#ecf0f1;
	text-align:center;
	background-color:#1abc9c;
	border:10px solid #ecf0f1;
	border-radius:10px;
	}
.team_icon_ul li a:hover{
	background-color:#9ae4e8;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.person_comment{
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	text-align:center;
	margin-top:10px;
	margin-bottom:0px;
	}
.team_box_top img{
	border-radius:5px;
	margin:0 auto;
	}
.team_box_top img:hover{
	border:10px solid #ebebeb;
	border-radius:6px;
	-webkit-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	}
	/*-- End Team --*/
	
/*========================================================
	End About Us Page
=========================================================*/


/*========================================================
	Start Services Page
=========================================================*/
.frodo_black{
	color:#0f0f0f;
	}
.skill_margin{
	margin-bottom:10px;
	}
.skills_body_content{
	margin-bottom:80px;
	}
.skill_title{
	font-size:14px;
	line-height:18px;
	font-weight:normal;
	text-align:justify;
	margin-bottom:30px;
	}
.skill_title:last-child{
	margin-bottom:0px;
	}
	/*-- Loading Bar --*/
.web-design	{
	width:100%;
	height:31px;
	background:#e7e7e7;
	border-radius:5px;
	}
.html{
	width:90%;
	height:31px;
	background:#e45038;
	border-radius:5px;
	}
.html p {
	font-weight:bold;
	font-size:12px;
	line-height:21px;
	color:#fdf3f2;
	padding:3px 0px 0px 30px;
	margin-bottom:0px;
	}
.persent{
	font-size:12px;
	line-height:21px;
	font-weight:bold;
	color:#fdf3f2;
	padding-right:15px;
	float:right;
	}
.javascript	{
	width:100%;
	height:31px;
	background:#e7e7e7;
	border-radius:5px;
	margin-top:25px;
	}	
.ajax{
	width:80%;
	height:31px;
	background:#e45038;
	border-radius:5px;
	}
.ajax p {
	font-weight:bold;
	font-size:12px;
	line-height:21px;
	color:#fdf3f2;
	padding:3px 0px 0px 30px;
	}		
.graphic	{
	width:100%;
	height:31px;
	background:#e7e7e7;
	border-radius:5px;
	margin-top:25px;
	}	
.design	{
	width:100%;
	height:31px;
	background:#e45038;
	border-radius:3px;
	}
.design p {
	font-weight:bold;
	font-size:12px;
	line-height:21px;
	color:#fdf3f2;
	padding:3px 0px 0px 30px;
	}		
.wordpress	{
	width:100%;
	height:31px;
	background:#e7e7e7;
	border-radius:5px;
	margin-top:25px;
	}	
.design2	{
	width:75%;
	height:31px;
	background:#e45038;
	border-radius:5px;
	}
.design2 p {
	font-weight:bold;
	font-size:12px;
	line-height:21px;
	color:#fdf3f2;
	padding:3px 0px 0px 30px;
	}	
	/*-- End Loading Bar --*/
	
/*========================================================
	End Services Page
=========================================================*/



/*========================================================
	Portfolio page
========================================================*/

/*--portfolio css --*/
.porfolio_main_body{
	background-color:#ffffff;
	padding-bottom: 80px;
	}
.portfolio_top{
	background:url(../assets/images/portfolio-bg.png) repeat-x;
	padding:40px 0px;
	}
.portfolio_div{
	width:195px;
	margin:0 auto;
	}
.por_top_content_top{
	font-size:40px;
	font-weight:600;
	line-height:20px;
	color:#ecf0f1;
	text-transform:lowercase;
	background-color:#2c3e50;
	text-align:center;
	padding:15px 10px 20px 10px;
	margin-bottom:0px;
	border-radius:5px;
	}
.por_top_content_bottom{
	margin-top:10px;
	margin-bottom:0px;
	font-size:12px;
	line-height:20px;
	font-weight:600;
	color:#2c3e50;
	text-align:center;
	}
.portfolio_work_tittle{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	line-height:36px;
	font-weight:bold;
	text-align:center;
	margin-top:80px;
	}
.portfolio_work_content{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	text-align:center;
	padding:0px 65px;
	margin-bottom:55px;
	}
.isotop_list{
	margin:0 auto!important;
	}
.portfolio_item_margin{
	margin-bottom:30px;
	padding-left: 0px;
	padding-right: 0px;
	}
.isotop_ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.isotop_ul li{
	float:left;
	margin-right:12px;
	}
.isotop_ul li:last-child{
	margin-right:0px;
	}
.isotop_ul li a{
	display:block;
	text-transform:uppercase;
	font-family:'helveticabold';
	font-size:14px;
	line-height:20px;
	text-align:center;
	color:#ecf0f1;
	background-color:#1abc9c;
	padding:5px 12px;
	text-decoration:none;
	border-radius:5px;
	}
.isotop_ul li a:hover{
	background-color:#e45038;
	color:#ecf0f1;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.portfolio_bottom_margin{
	margin-bottom:80px;
	}
	
	/*-- Start Portfolio List Page --*/
.portfolio_slide_indicator{
	bottom:0;
	}
.portfolio_slide_indicator li{
	width:14px;
	height:14px;
	background-color:#2c3e50;
	border:3px solid #2c3e50;
	border-radius:50%;
	}
.portfolio_slide_indicator .active{
	width:16px;
	height:16px;
	background-color:#959ea7;
	border:3px solid #2c3e50;
	border-radius:50%;
	}
.portfolio_list_margin{
	margin-bottom:50px;
	}
.portfolio_content_title{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	color:#959ea7;
	margin-top:0px;
	margin-bottom:25px;
	}
.portfolio_content_content{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	margin-bottom:44px;
	}
.see_more_buttom{
	width:100%;
	margin:0 auto;
	}
.see_more_buttom a{
	font-size:16px;
	line-height:20px;
	font-weight:600;
	text-align:center;
	color:#ecf0f1;
	background-color:#1abc9c;
	text-transform:uppercase;
	text-decoration:none;
	padding: 10px 111px;
	border-radius:5px;
	}
.see_more_buttom a:hover{
	background-color:#e45038;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.portfolio_pagination_padding{
	padding-left:0px;
	padding-right:0px;
	margin-bottom:80px;
	}
.portfolio_list_video{
	width:100%;
	height:300px;
	}
	/*-- End Portfolio List Page --*/
	
	/*-- Start Portfolio Item --*/
.port_item_top{
	margin-top:80px;
	}
.portfolio_item_page_margin{
	margin-top:40px;
	}
.portfolio_item_title{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	color:#1abc9c;
	margin-top:0px;
	margin-bottom:25px;
	}
.portfolio_item_content{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	text-align:justify;
	color:#959ea7;
	margin-bottom:25px;
	}
.por_item_service{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	color:#959ea7;
	margin-top:0px;
	margin-bottom:20px;
	}
.service_ul{
	margin:0;
	padding:0;
	list-style-image:url(../assets/images/categorie_list.png);
	list-style-position:inside;
	height:280px;
	overflow-y:scroll;
	}
.service_ul li{
	margin-bottom:20px;
	}
.service_ul li:last-child{
	margin-bottom:0px;
	}
.service_ul li a{
	text-decoration:none;
	font-size:16px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	padding-left:5px;
	}
.service_ul li a:hover{
	color:#e45038;
	}
.portfolio_item_buttom a{
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	text-align: center;
	color: #ecf0f1;
	background-color: #1abc9c;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 78px;
	border-radius: 5px;
	}
.portfolio_item_buttom a:hover{
	background-color: #e45038;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.portfolio_item_slide_content{
	margin-bottom:30px;
	}
	/*-- End Portfolio Item --*/
/*========================================================
	End Portfolio page
========================================================*/


/*========================================================
	Start Blog page
========================================================*/
.blog_top{
	width:105px;
	}
.blog_body{
	background-color:#ffffff;
	}
.blog_margin_body_top{
	margin-top:80px;
	}
.blog_margin{
	margin-bottom:50px;
	}
.blog_post_img{
	border-radius:5px;
	}
.blog_post_title{
	font-size: 20px;
	line-height: 20px;
	margin-top:0px;
	margin-bottom: 0px;
	color: #a0a8b0;
	font-weight: 600;
	background:url(../assets/images/image_post.png) no-repeat 0% 50%;
	height:43px;
	padding-left:50px;
	padding-top: 10px;
	}
.blog_post_title a{
	color:#959ea7;
	text-decoration:none;
	}
.blog_post_title a:hover{
	color:#e45038;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.blog_post_content{
	font-size:14px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	margin-top:15px;
	margin-bottom: 20px;
	}
.user_details .admin{
	background:url(../assets/images/user.png) no-repeat 0% 0%;
	height:16px;
	padding-left:20px;
	padding-right:15px;
	font-size:12px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	}
.user_details .calender{
	background:url(../assets/images/calender.png) no-repeat 0% 0%;
	height:16px;
	padding-left:20px;
	padding-right:15px;
	font-size:12px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	}
.user_details .comment{
	background:url(../assets/images/chat.png) no-repeat 0% 0%;
	height:16px;
	padding-left:20px;
	padding-right:15px;
	font-size:12px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	}
.admin:hover{
	color:#e45038;
	}
.calender:hover{
	color:#e45038;
	}
.comment:hover{
	color:#e45038;
	}
.gallery_post{
	background:url(../assets/images/gallary_post.png) no-repeat 0% 50%;
	height:43px;
	}
.video_frame{
	background-color:#434343;
	border-radius:5px;
	}
.video_post{
	background:url(../assets/images/video_post.png) no-repeat 0% 50%;
	height:43px;
	}
.audio_post{
	background:url(../assets/images/audio_post.png) no-repeat 0% 50%;
	height:43px;
	}
.audio_player{
	width:100%;
	margin-bottom:18px;
	}
.audio_player audio{
	width:100%;
	}
.text_post{
	background:url(../assets/images/text_post.png) no-repeat 0% 50%;
	height:43px;
	}
.blog_pagination .pagination_ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.blog_pagination .pagination_ul li{
	float:left;
	width:40px;
	height:40px;
	border-radius:5px;
	font-size:24px;
	font-weight:900;
	text-align:center;
	color:#ecf0f1;
	background-color:#959ea7;
	margin-right:8px;
	padding-top: 3px;
	}
.blog_pagination .pagination_ul li:hover{
	background-color:#1abc9c;
	display:block;
	cursor:pointer;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.blog_pagination .pagination_ul li:last-child{
	margin-right:0px;
	}
.blog_pagination_margin{
	margin-bottom:80px;
	}
.angle_left{
	background:url(../assets/images/pagination_angle_left.png) no-repeat 50% 50%;
	height:18px;
	margin-top:8px;
	margin-bottom:0px;
	}
.angle_right{
	background:url(../assets/images/pagination_angle_right.png) no-repeat 50% 50%;
	margin-top:8px;
	height:18px;
	margin-bottom:0px;
	}
.active_pagination{
	background-color:#1abc9c!important;
	}
	/*-- Right Side --*/
.blog_side_padding{
	padding-left: 35px;
	}
.categories{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:0px;
	margin-bottom:20px;
	color:#4f6274;
	}
.categories_ul{
	margin:0;
	padding:0;
	list-style-image:url(../assets/images/categorie_list.png);
	list-style-position:inside;
	}
.categories_ul li{
	margin-bottom:20px;
	}
.categories_ul li:last-child{
	margin-bottom:0px;
	}
.categories_ul li a{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	text-decoration:none;
	}
.categories_ul li a:hover{
	color:#e45038;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.blog_right_margin{
	margin-bottom:40px;
	}
.recent_post_title{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:0px;
	margin-bottom:20px;
	color:#4f6274;
	}
.recent_post_content{
	font-size:12px;
	line-height:18px;
	font-weight:300;
	color:#959ea7;
	margin-bottom: 10px;
	}
.recent_post_time{
	font-size:12px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	}
.content_red{
	margin-top:20px;
	color:#e45038;
	}
.recent_last{
	margin-top:20px;
	}
.blog_tag{
	margin:0;
	padding:0;
	list-style:none;
	}
.blog_tag li{
	float:left;
	margin-right:20px;
	margin-bottom:5px;
	}
.blog_tag li:last-child{
	margin-right:0px;
	}
.blog_tag li a{
	font-size:12px;
	line-height:28px;
	font-weight:300;
	color:#ecf0f1;
	background-color:#b1bcc6;
	text-decoration:none;
	padding:5px 7px;
	border-radius:5px;
	}
.blog_tag li a:hover{
	background-color:#e45038;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
/*========================================================
	End Blog page
========================================================*/


/*========================================================
	Start Blog Details
========================================================*/
.blog_post_top{
	width:200px;
	}
.blog_left_icon{
	background:url(../assets/images/blog_slide_left_icon.png) no-repeat 30% 0%;
	height:30px;
	margin-bottom:0px;
	margin-top: 140%;
	}
.blog_right_icon{
	background:url(../assets/images/blog_slide_right_icon.png) no-repeat 75% 0%;
	height:30px;
	margin-bottom:0px;
	margin-top: 140%;
	}
.blog_slide_indicator{
	bottom: 0px;
	}
.blog_slide_indicator li{
	width:14px;
	height:14px;
	background-color:#ecf0f1;
	border:3px solid #ecf0f1;
	}
.blog_slide_indicator .active{
	width:16px;
	height:16px;
	background-color:#b1bcc6;
	border:3px solid #ecf0f1;
	}
.blog_post_title_single{
	font-size: 20px;
	line-height: 20px;
	font-weight: 600;
	background: url(../assets/images/blog_post_title_img.png) no-repeat 0% 50%;
	height: 43px;
	padding-left: 50px;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
	}
.blog_post_title_single a{
	color: #959ea7;
	text-decoration:none;
	}
.blog_post_single_content{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	text-align:justify;
	margin-top:34px;
	margin-bottom:32px;
	}
.blog_post_single_content img{
	float:left;
	margin-right:20px;
	margin-bottom:10px;
	}
.single_content_color{
	color:#1abc9c;
	}
.post_italic{
	font-size:14px;
	line-height:normal;
	font-style:italic;
	border-left:10px solid #1abc9c;
	padding-left:20px;
	}
.audio_post_title{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	color:#1abc9c;
	margin-top:2px;
	margin-bottom:20px;
	}
.audio_post_content{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	text-align:justify;
	color:#959ea7;
	margin-bottom:20px;
	}
.audio_post_content_2{
	font-size:16px;
	line-height:20px;
	font-weight:300;
	text-align:justify;
	color:#959ea7;
	margin-bottom:50px;
	}
	/*-- Comment Option --*/
.comment_bottom_margin{
	margin-bottom:80px;
	}
.comment_title_top{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	line-height:20px;
	font-weight:600;
	color:#e45038;
	margin-top:0px;
	margin-bottom:40px;
	}
.leave_comment{
	float:right;
	}
.leave_comment a{
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	color:#ecf0f1;
	background-color:#34495e;
	text-decoration:none;
	border-radius:5px;
	padding:12px 22px;
	}
.leave_comment a:hover{
	background-color:#e45038;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.person_comment_section{
	width:100%;
	}
.media a img{
	border-radius:5px;
	}
.media_heading_title{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	line-height:20px;
	font-weight:normal;
	color:#e45038;
	margin:0px;
	}
.comment_time{
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	color:#959ea7;
	padding-left:15px;;
	}
.comment_reply{
	font-size:14px;
	line-height:20px;
	font-weight:normal;
	color:#e45038;
	float:right;
	}
.comment_content{
	font-size:14px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	margin-top:10px;
	margin-bottom:0px;
	}
.media_list_padding{
	margin-top:30px;
	padding-left:70px;
	margin-bottom:15px;
	}
/*========================================================
	End Blog Details
========================================================*/

/*========================================================
	Start Contact Page
=========================================================*/
.contact_us_top{
	width:230px;
	}
.contact_body{
	background-color:#ffffff;
	}
.map_radius{
	border-radius:5px;
	-webkit-border-radius:5px;
	}
.comtact_space_margin_top{
	margin-top:80px;
	}
.comtact_space_margin{
	margin-bottom:80px;
	}
.form_title{
	font-size:20px;
	line-height:36px;
	font-weight:bold;
	color:#1abc9c;
	}
.form_input_margin{
	margin-bottom:20px;
	}
.input_text{
	background-color:#e2e2e2;
	font-size:16px;
	line-height:20px;
	font-weight:300;
	color:#959ea7;
	padding:10px 0px 10px 20px;
	height:40px;
	}
.custom_form_button{
	background-color:#e45038;
	color:#ecf0f1;
	border:none;
	font-size:16px;
	line-height:20px;
	font-weight:600;
	text-align:center;
	padding:12px 17px;
	margin-top:20px;
	}
.custom_form_button:hover{
	background-color:#1abc9c;
	color:#ecf0f1;
	-webkit-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
	}
.contact_top_margin{
	margin-top:40px;
	}
.contact_color{
	color: #ecf0f1!important;
	background-color: #1abc9c!important;
	}
.face:hover{
	background-color: #3D589C!important;
	}
.twit:hover{background-color: #3D589C!important;}
.twit:hover{background-color: #00ABF0!important;}
.drib:hover{background-color: #EA4C89!important;}
.pint:hover{background-color: #EA4C89!important;}
.skyp:hover{background-color: #00ABF0!important;}
.rss:hover{background-color: #FFA101!important;}
/*========================================================
	End Contact Page
=========================================================*/